{% extends 'base_page.html' %}
{% load static %}
{% block mystyle %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
  {% endblock mystyle %}

{%block title%}
    Register Page
{%endblock%}


{% block content %}

<dir class="container login mb-4 mt-4 row">
         <div class="col-6">
           <h4 class="font-weight-bolder text-center" style="color:#800000">Register</h4>
              <form method="post" class="p-4" action="" role="form" enctype="multipart/form-data">

                {% csrf_token %}

                <div class="mb-3">
                  {{ form.first_name }}
                </div>
                <span class="text-error text-danger">{{ form.first_name.errors }}</span>

                <div class="mb-3">
                  {{ form.last_name }}
                </div>
                <span class="text-error text-danger">{{ form.last_name.errors }}</span>

                <div class="mb-3">
                  {{ form.user_email }}
                </div>
                <span class="text-error text-danger">{{ form.user_email.errors }}</span>

                <div class="mb-3">
                  {{ form.user_password }}
                </div>
                <span class="text-error text-danger">{{ form.user_password.errors }}</span>

                <div class="mb-3">
                  {{ form.confirmPassword }}
                </div>
                <span class="text-error text-danger">{{ form.confirmPassword.errors }}</span>
                <div class="mb-3">
                  {{ form.user_mobile }}
                </div>
                <span class="text-error text-danger">{{ form.user_mobile.errors }}</span>
                <div class="mb-3">
                  {{ form.user_image }}
                </div>
                <span class="text-error text-danger">{{ form.user_image.errors }}</span>
                <div class="text-center">
                  <button type="submit" name="register"
                    class="btn btn-lg btn-primary btn-lg w-100 mt-4 mb-0">Register</button>
                </div>
              </form>
</div>
  <div class="col-6 containerImage">
  </div>
</dir>
{% endblock content %}



