{% extends 'base_page.html' %}
{%block title%}
    Register Page
{%endblock%}
{%block content %}
  <h1> Enter new Password </h1>
<div style="height:100px"></div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column">
          <div class="card card-plain">
            <div class="card-body">
              <form method="post" action="" role="form">
                {% csrf_token %}
                <div class="mb-3">
                  {{ form.user_password }}
                </div>
                <span class="text-error text-danger">{{ form.password.errors }}</span>

                <div class="mb-3">
                  {{ form.confirmPassword }}
                </div>
                <span class="text-error text-danger">{{ form.confirmPassword.errors }}</span>
                  <input type="hidden" value="{{email}}" name="email">

                <div class="text-center">
                  <button type="submit" name="PasswordSet"
                    class="btn btn-lg btn-primary btn-lg">Save</button>
                </div>
              </form>
            </div>

          </div>
        </div>
    <div class="col-4"></div>
</div>
<div style="height:100px"></div>
{% endblock content %}
